<div id="filters">
    <form action="/discursos/" method="get">
        <p><label for="partido">Partido:</label>
            <input id="partido" type="text" name="partido" value="{{request.GET.partido}}" maxlength="12" /></p>
        <p><label for="estado">Estado:</label>
            <input id="partido" type="text" name="estado" value="{{request.GET.estado}}" maxlength="2" /></p>
        <p><label for="orador">Orador:</label>
            <input id="orador" type="text" name="orador" value="{{request.GET.orador}}" /></p>
        <p><label for="texto">Texto:</label>
            <input id="texto" type="text" name="texto" value="{{request.GET.texto}}"/></p>
        <p><label for="data_inicio">De:</label>
        <input id="data_inicio" type="text" name="data_inicio" value="{{request.GET.data_inicio}}"/>
        <label for="data_fim">Até:</label>
        <input id="data_fim" type="text" name="data_fim" value="{{request.GET.data_fim}}"/>
        </p>
        <input type="submit" value="Enviar" />
    </form>
</div>
