{% load dashboard_extras %}

<div id="tempos">
<span>
	<h2>Linha do Tempo - {{periodo.inicio|date:"d/m/Y"}} até {{periodo.fim|date:"d/m/Y"}} - {{total}} discursos</h2>
</span>
<div id="timeline" style="height:300px;width:95%">
</div>
<script>
function showTooltip(x, y, contents) {
    $('<div id="tooltip">' + contents + '</div>').css( {
        position: 'absolute',
        display: 'none',
        top: y + 5,
        left: x + 5,
        border: '1px solid #D5EFFF',
        padding: '2px',
        'background-color': '#E1F3FA',
        opacity: 0.80
    }).appendTo("body").fadeIn(200);

}

var d = [
{% for c in contagem %}
    [{{c.data|epoch}}, {{c.data__count}}],
{% endfor %}
    ];

$.plot($("#timeline"), [d], 
        { 
            xaxis: { mode: "time", },
            series: { lines: { show: true }, points: { show: false } },
            grid: { hoverable: true, clickable: true }
         });

var previousPoint = null;
$("#timeline").bind("plothover", function (event, pos, item) {
    if (item) {
        if (previousPoint != item.dataIndex) {
            previousPoint = item.dataIndex;
            $("#tooltip").remove();
            showTooltip(item.pageX, item.pageY, new Date(item.datapoint[0]).toDateString() + '\n' + item.datapoint[1] + ' discursos');
        }
    }
    else {
        $("#tooltip").remove();
        previousPoint = null;
        }
});

$("#timeline").bind("plotclick", function (event, pos, item) {
    if (item) {
        var d = new Date(item.datapoint[0]);
        var curr_date = d.getDate()+'';
        if (curr_date < 9) { curr_date = '0' + curr_date; }
        var curr_month = d.getMonth()+1; //month contado a partir do 0
        if (curr_month < 9) { curr_month = '0' + curr_month; }
        var curr_year = d.getFullYear();
        var item_date = curr_date + "-" + curr_month + "-" + curr_year;
        $('html, body').animate({
						scrollTop: $("#" + item_date).offset().top
					}, 500);
    }
});

$(document).ready(function() 
    { 
        $(".tablesorter").tablesorter(); 
		
		$('.addtags').editable('{% url dashboard.views.taggeia %}', {
			type: 'text',
			id: 'id',
			name: 'tags',
			submit: 'save',
			cancel: 'cancel',
            width: 250,
            height: 30
            
		});

	}); 



</script>
</div>
