{% load dashboard_extras %}
{% include "dashboard/_header.html" %}

{% include "dashboard/_filters.html" %}

{% include "dashboard/_timeline.html" %}


<div class="content">
<div id="partidos" class="box">
<table class="tablesorter">
<thead>
<tr>
    <th style="width:100%">Partido</th>
    <th style="width:4em">Qtd</th>
</tr>
</thead>

<tbody>
{% for p in partidos %}
    <tr class="partido name" id="partido_{{p.partido__sigla}}">
        <td style="width:100%">
        <span class="holder">
        <a href='/discursos/?{{request.META.QUERY_STRING}}&partido={{p.partido__sigla}}'>
        {{p.partido__sigla}}
        </a>
        <span class="percent" style="width:{{p.percent}}%"></span>
        </span>
        </td>

        <td style="width:4em">
        <span class="number"><b>{{p.discurso__count}}</b></span>
        </td>

    </tr>
{% endfor %}

</table>
</div>

<div id="estados" class="box">
<table class="tablesorter">
<thead>
<tr>
    <th style="width:100%">Estado</th>
    <th style="width:4em">Qtd</th>
</tr>
</thead>

<tbody>
{% for e in estados %}
    <tr class="estado name" id="estado_{{e.estado__sigla}}">
    <td style="width:100%">
        <span class="holder">
        <a href='/discursos/?{{request.META.QUERY_STRING}}&estado={{e.estado__sigla}}'>
        {{e.estado__sigla}}
        </a>
        <span class="percent" style="width:{{e.percent}}%"></span>
        </span>
    </td>
    <td style="width:4em">
        <span class="number"><b>{{e.discurso__count}}</b></span>
    </td>
    </tr>
{% endfor %}
</table>
</div>


<div id="oradores" class="box">
<table class="tablesorter">
<colgroup class="table-orador">
<colgroup class="table-partido">
<colgroup class="table-qtd">
 <thead>
   <tr>
   <th style="width:100%">Orador</td>
   <th style="width:4em">Partido</td>
   <th style="width:4em">Qtd</td>
</tr>
 </thead>
<tbody>
{% for o in oradores %}
    <tr class="orador name" id="orador_{{o.orador}}">
    <td style="width:100%">    
        <span class="holder">
        <a href='/discursos/?{{request.META.QUERY_STRING}}&orador={{o.orador}}' title="{{o.partido__sigla}}">
        {{o.orador__nome|capitalname}}
        </a>
        <span class="percent" style="width:{{o.percent}}%"></span>
        </span>
    </td>

    <td style="width:4em">
        {{o.partido__sigla}}    
    </td>

    <td style="width:4em">
        <span class="number"><b>{{o.discurso__count}}</b></td>
    </tr>
{% endfor %}
</tbody>
</table>

</div> <!-- fim do .content -->

<div id="discursos" style="clear:both">
{% for d in discursos %}  
    {% ifchanged d.data %}
    <h3 id='{{d.data|date:"d-m-Y"}}' class="date">{{d.data|date:"d/m/Y"}}</h3>
    {% endifchanged %}
    <div id="discurso-{{d.id}}" class="discurso {{d.partido|lower}}">
    <p><b>{{d.orador.nome}} - {{d.partido}}:</b> {{d.sumario}} </p>
    <p><b>Tags:</b> </b><span id="{{d.id}}" class="addtags">{{d.tags}}</span></p>
    </div>
{% endfor %}

<b>Total: </b> {{total}}
</div>

{% include "dashboard/_footer.html" %}

